/*custom css*/

body {
  font-family: 'aktiv-grotesk'!important;
  color: #222;
  font-size: 18px;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4 {
  font-family: 'aktiv-grotesk'!important;
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

::selection {
  background-color: #ffe462;
  color: #fff;
}

a:hover {
  color: #ffe462;
}

.font-menu {
  font-family: 'aktiv-grotesk'!important;
  font-size: 20px;
  color: #222;
}

.font-menu:hover {
  font-family: 'aktiv-grotesk'!important;
  color: #fff;
}

.logo-img {
  width: 80px;
  height: auto;
}

.header-black .fs-primary-nav-trigger .fs-menu-icon {
  background-color: #222;
}

.header-black .fs-primary-nav-trigger .fs-menu-icon::before,
.header-black .fs-primary-nav-trigger .fs-menu-icon:after {
  background-color: #222;
}

.title-menu {
  font-family: 'aktiv-grotesk'!important;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  width: 20%;
  margin: 0 auto;
  padding-top: 10px;
}

.menu-line {
  border: 1px solid #fff;
  width: 20%;
  margin: 0 auto;
}

.font-menu {
  font-family: 'aktiv-grotesk'!important;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
}

.list-menu>.active {
  color: #ffe462;
}

.font-menu:hover {
  font-family: 'aktiv-grotesk'!important;
  color: #ffe462;
}

.rev-btn {
  font-family: 'aktiv-grotesk'!important;
  font-weight: bold!important;
  color: #222;
}

.rev-btn {
  border-width: 3px!important;
  border-color: #222!important;
}
.rev-btn:hover {
  transition: all ease .3s!important;
} 

.socmed-menu {
  color: #fff;
}

.socmed-menu:hover {
  color: #ffe462;
}

.socmed-menu2 {
  color: #fff;
  font-size: 30px;
  padding-right: 10px;
}

.socmed-menu2:hover {
  color: #ffe462;
}


/*page this is*/

.img-title {
  width: 1000px;
  height: auto;
  display: inline-block;
}

.img-title2 {
  width: 250px;
  height: auto;
  display: inline-block;
}

.img-title3 {
  width: 150px;
  height: auto;
  display: inline-block;
}

.img-title4 {
  width: 1200px;
  height: auto;
  padding-top: 40px;
  display: inline-block;
}

.img-title5 {
  width: 800px;
  height: auto;
  display: inline-block;
  margin-bottom: 100px;
}

#section-title {
  padding-top: 100px;
}

.text-title {
  display: inline-block;
  vertical-align: bottom;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  padding-left: 20px;
}

.fes2-title-40 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

#about {
  margin-top: 50px;
}

.left-about {
  background-image: url(../img/thisis/thisisbg.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: left;
}

.title-section {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: justify;
}

.title-section2 {
  font-weight: 300;
  letter-spacing: 1px;
  text-align: justify;
  max-width: 1100px;
  margin: 0 auto;
}

.title-section3 {
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}

.line-section {
  background-color: #ffe462;
  width: 200px;
}

.col-client {
  margin-bottom: 50px;
}

.div-logo {
  padding-right: 40px;
  padding-left: 40px;
}

.div-logo2 {
  padding-right: 20px;
  padding-left: 20px;
}

#whatislike {
  padding-top: 100px;
  background-color: #F37D25;
}

#testimonial {
  margin-top: 50px;
  margin-bottom: 50px;
}

.testimonial-3:before {
  content: '“';
  font-family: sans-serif;
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-size: 200px;
  line-height: 40px;
  color: #EA4747;
}

.testimonial-3:after {
  content: '“';
  font-family: sans-serif;
  transform: rotateX(180deg);
  transform: scaleX(-1);
  position: absolute;
  right: 0;
  margin-right: 20px;
  font-size: 200px;
  line-height: 40px;
  color: #EA4747;
}

.font-quote {
  color: #fff;
  font-size: 30px!important;
  -webkit-text-stroke: 1px black;
  letter-spacing: 3px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 32px!important;
}

.font-quote2 {
  color: transparent;
  font-size: 30px!important;
  -webkit-text-stroke: 1px black;
  letter-spacing: 2px;
  line-height: 32px!important;
  position: absolute;
  font-weight: 600;
  bottom: 60px;
  left: 80px;
}

.txt-testi {
  padding-bottom: 10px;
}

.fes2-main-text-cont {
  margin: 0 auto;
  padding: 100px 20px 100px 20px;
  max-width: 500px;
}

#footer-heading {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 50px;
  padding-bottom: 20px;
  color: #fff;
}

#footer-link li a {
  font-size: 14px;
  color: #fff;
}

#footer-link li a:hover {
  font-size: 14px;
  color: #ffe462;
}

#footer-link {
  display: inline-block;
}

.link-footer {
  width: 170px;
  vertical-align: top;
  color: #fff;
}

#footer-mankind {
  background-color: #244280;
  padding-top: 50px;
  padding-bottom: 50px;
}

.txt-footer1 {
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  color: #fff;
}

.txt-footer2 {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  width: 200px;
  white-space: normal;
}

.txt-footer3 {
  font-weight: 900;
  color: #fff;
}

.txt-footer4 {
  font-size: 24px;
  line-height: 34px;
  color: #fff;
  white-space: normal;
}

.box-1-1 {
  padding: 20px;
  height: 750px;
}

.box-2-1 {
  padding: 20px;
  height: 750px;
  float: none;
  display: inline-block;
  vertical-align: top;
}

.box-1 {
  padding: 20px;
}

.box-2 {
  padding: 20px;
  float: none;
  display: inline-block;
  vertical-align: top;
}

.row-center {
  text-align: center;
}

#division {
  margin-top: 50px;
}

.txt-div {
  font-size: 16px;
  text-align: justify;
  padding-top: 20px;
}

.author {
  font-weight: 900!important;
  font-size: 20px!important;
  line-height: 30px!important;
}

.txt-team {
  font-weight: 900;
  line-height: 40px;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
  text-align: left;
}

.txt-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.box-3 {
  height: 350px;
  margin-top: 125px;
}

.txt-looking {
  font-size: 26px;
  line-height: 36px;
}

.link-looking {
  font-size: 16px;
  text-decoration: underline;
  line-height: 20px;
}

.frame-img {
  height: 300px;
  overflow: hidden;
}

.img-person:hover {
  transition: all ease 0.3s;
}

.img-person {
  object-fit: cover;
  height: 250px;
  width: 250px;
}

#work {
  margin-top: 50px!important;
}

.frame-img2 {
  height: 350px;
  overflow: hidden;
}

.img-client2 {
  object-fit: cover;
}

.img-client2:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}

a:focus {
  color: #ffe462!important;
}

.div-client2 {
  padding: 20px;
}

#contact {
  padding-top: 100px;
}

.contact-detail {
  font-size: 20px;
  letter-spacing: 1px;
  color: #222;
  margin-bottom: 10px;
}

.form-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 50px;
}

.btn-submit {
  border: 2px solid #222;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
}

.btn-submit:hover {
  background-color: #222;
  color: #ffe462;
  transition: all ease 0.3s;
}

#contact-detail {
  margin-top: 50px;
}

#map {
  margin-top: 50px;
}

.copyright-txt {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  line-height: 18px;
  color: #fff;
}


/*sidemenu*/

.sidenav {
  height: 100%;
  display: block;
  width: 0;
  position: inherit;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #244280;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.menu-left a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff!important;
  display: block!important;
  transition: 0.3s;
  padding-top: 20px;
  white-space: nowrap;
}

.menu-left a:hover {
  margin-left: 10px;
  color: #ffe462!important;
  transition: all ease .3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 60px;
  margin-left: 50px;
}

.navbar {
  position: fixed;
  z-index: 1;
  background-color: transparent;
  height: 100%;
}

.closebtn {
  color: #fff;
  padding-top: 20px;
}

.menu-left .active {
  color: #ffe462!important;
}

.menu-left {
  padding-left: 10%;
  padding-right: 20px;
  padding-top: 100px;
}

.menu-btn {
  position: absolute;
  top: 45%;
  padding-left: 40px;
}

.overlay2 {
  position: inherit;
  display: none;
  width: 100%;
  margin-left: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  opacity: .1;
  z-index: 1;
}

.logo-sidemenu {
  width: 40%;
  position: absolute;
  top: 50px;
  left: 10%;
}

.img-future {
  width: 100%;
}

#section-fold-blue {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #244280;
  margin-bottom: 50px;
}

.font-stroke-white {
  font-weight: 900;
  color: #244280;
  -webkit-text-stroke: 1px #fff;
}

.font-title {
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #222;
}

.font-stroke-red {
  -webkit-text-stroke: 1px #EA4747;
  color: #fff;
}

.font-red {
  color: #EA4747;
}

.footer-menu {
  padding-left: 0px;
}

.menu-left2 {
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 20px;
  padding-top: 100px;
  white-space: nowrap;
}

.socmed3 {
  display: inline-block!important;
  padding-top: 6px;
}

.font-black2 {
  color: #222;
  -webkit-text-stroke: 1px transparent;
}

.testimonial-3 {
  padding: 10px 20px;
  margin: 50px 0 15px 0px;
  border-left: none;
}

.txt-section-white {
  color: #fff;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-top: 30px;
}

.img-back {
  width: 700px;
}

.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #244280;
}

.overlay3:hover {
  opacity: 0.5;
}

.panel-img {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  width: 250px;
  margin: 0 auto;
}

.artist-name2 {
  color: #EA4747;
  font-weight: 800;
  position: absolute;
  top: 30%;
  right: -43px;
  letter-spacing: 2px;
}

.artist-title2 {
  color: #EA4747;
  font-weight: 600;
  position: absolute;
  top: 40%;
  right: -43px;
  letter-spacing: 2px;
}

.nav-tab-artist .active .nav-item h2 {
  color: #EA4747;
  border: none;
  margin-left: 20px;
  letter-spacing: 2px;
}

.nav-tab-artist .active .nav-item h4 {
  color: #EA4747;
  border: none;
  margin-left: 50px;
  letter-spacing: 2px;
}

.nav-tab-artist li .nav-item h2 {
  color: #222;
  border: none;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.nav-tab-artist li .nav-item h4 {
  color: #222;
  border: none;
  margin-left: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.nav-tab-artist .active .nav-item {
  border-top: none;
}

.nav-tab-artist .active .nav-item:hover {
  border: none;
}

.nav-tab-artist li .nav-item:hover {
  border: none;
  background-color: transparent;
}

.nav-tab-artist .active .nav-item h2:before {
  content: '×';
  font-family: sans-serif;
  font-size: 30px;
  padding-right: 10px;
  line-height: 40px;
  color: #EA4747;
  display: inline-block;
}

.nav-tab-artist li .nav-item h2:before {
  content: '+';
  font-family: sans-serif;
  font-size: 30px;
  padding-right: 10px;
  line-height: 40px;
  color: #222;
  display: inline-block;
}
.nav-tab-artist li .nav-item h2:active:before {
  transform: rotate(45deg);
  transform-origin: 30%;
  transition: all ease .3s;
}

.nav-tab-artist {
  border: none;
  padding-top: 20px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: none;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
}

#section-fold {
  margin-top: 50px;
  margin-bottom: 50px;
}

#section-fold2 {
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ddd;
}

.img-kv {
  margin-bottom: 50px;
}

.div-kv {
  margin-bottom: 50px;
}

.img-client {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.img-recog {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-personalized {
  width: 700px;
}

.div-txt-personalized {
  padding-top: 200px;
}

.div-txt-personalized p {
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
}

.div-personalized {
  position: absolute;
  right: -400px;
  top: 50px;
  background-color: #fff;
  padding: 10px;
}

.last-fold {
  margin-bottom: 100px;
}

.col-how-title {
  margin-top: 100px;
}

.col-how-title p {
  margin-top: 50px;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  padding: 10px;
  background-color: #fff;
}

.how-title2 {
  position: absolute;
  left: -180px;
  top: 150px;
}

.img-wecollab2 {
  background-color: #fff;
  padding: 10px;
}

.txt-services {
  position: absolute;
  top: 50px;
  z-index: inherit;
  left: 540px;
  width: 400px;
}

.grid2 {
  margin-top: 350px;
}

.txt-services h2 {
  font-weight: 900;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}

.line1 {
  content: '';
  position: absolute;
  top: -35px;
  left: -30px;
  height: 35%;
  width: 2px;
  transform: rotate(-35deg);
  background: #222;
}

.line2 {
  content: '';
  position: absolute;
  top: -70px;
  right: 30px;
  height: 60%;
  width: 2px;
  transform: rotate(50deg);
  background: #222;
}

.line3 {
  content: '';
  position: absolute;
  bottom: 145px;
  right: 420px;
  height: 15%;
  width: 2px;
  transform: rotate(50deg);
  background: #222;
}

.txt-services p {
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  text-align: left;
}

.txt-services2 h2 {
  font-weight: 900;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}

.txt-services2 p {
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  text-align: left;
}

.txt-services2 {
  position: absolute;
  bottom: 100px;
  left: -470px;
  width: 450px;
}

.txt-services3 h2 {
  font-weight: 900;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
}

.txt-services3 p {
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  text-align: left;
}

.txt-services3 {
  margin-top: 100px;
}

#section-division {
  margin-bottom: 100px;
}

#div-frasa {
  display: none;
}

#div-studio {
  display: none;
}

#div-techno {
  display: none;
}

#btn-frasa {
  position: absolute;
  top: 260px;
  left: 240px;
  background-color: transparent;
  z-index: 1;
  width: 300px;
  height: 100px;
}
.font-white {
  -webkit-text-stroke: 1px transparent!important;
}

.desc-frasa1 {
  display: none;
  position: absolute;
  top: 100px;
  text-align: left;
  right: 340px;
  z-index: 1;
  width: 230px;
  height: 100px;
  color: transparent;
  font-size: 30px;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 3px;
  font-weight: 900;
  line-height: 32px;
}

.desc-frasa2 {
  display: none;
  position: absolute;
  bottom: 135px;
  text-align: left;
  z-index: 1;
  color: #fff;
  width: 360px;
  left: 550px;
  height: 150px;
}

#btn-studio {
  position: absolute;
  top: 260px;
  right: 240px;
  background-color: transparent;
  z-index: 1;
  width: 300px;
  height: 100px;
}

.desc-studio1 {
  display: none;
  position: absolute;
  text-align: left;
  top: 180px;
  left: 270px;
  z-index: 1;
  width: 300px;
  height: 100px;
  color: transparent;
  font-size: 30px;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 3px;
  font-weight: 900;
  line-height: 32px;
}

.desc-studio2 {
  display: none;
  position: absolute;
  bottom: 135px;
  text-align: left;
  z-index: 1;
  color: #fff;
  width: 360px;
  left: 550px;
  height: 150px;
}

#btn-techno {
  position: absolute;
  bottom: 135px;
  background-color: transparent;
  z-index: 1;
  width: 360px;
  left: 550px;
  height: 150px;
}

.desc-techno1 {
  display: none;
  position: absolute;
  text-align: left;
  top: 180px;
  left: 270px;
  z-index: 1;
  width: 300px;
  height: 100px;
  color: transparent;
  font-size: 30px;
  -webkit-text-stroke: 1px #fff;
  letter-spacing: 3px;
  font-weight: 900;
  line-height: 32px;
}

.desc-techno2 {
  display: none;
  position: absolute;
  top: 120px;
  text-align: left;
  right: 340px;
  color: #fff;
  z-index: 1;
  width: 230px;
  height: 100px;
}

#btn-close {
  font-size: 70px;
  position: absolute;
  right: 220px;
  display: none;
}

.title-division {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.title-portfolio {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 1px;
  padding-bottom: 10px;
  padding-top: 20px;
  text-transform: uppercase;
}

.port-box {
  margin-bottom: 20px;
}

.title-career-page {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.txt-career-page {
  font-size: 18px;
  letter-spacing: 1px;
}

.role-title {
  display: inline-block;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.inline-btn {
  display: inline-block;
  position: absolute;
  right: 15px;
  margin-top: 30px;
}

.panel-default>.panel-heading {
  background-color: #fff;
  border: none;
}

.panel {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 0px 0px 0px #fff;
  border-bottom: 1px solid #ddd!important;
  cursor: pointer;
}

.panel-heading {
  border-radius: 0px;
}

.panel-group .panel {
  border-radius: 0px;
  border: none;
}

.divider-career {
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-group {
  margin-bottom: 30px;
}

#google-map {
  height: 500px;
  z-index: inherit;
}

.title-list {
  font-weight: 800;
  text-transform: uppercase;
}

.link-career-list {
  font-size: 16px;
  color: #EA4747!important;
}

.input2 {
  min-height: 50px;
  max-height: 150px;
}

.input3 {
  min-height: 100px;
}

/*background*/

/*.rev_slider_wrapper {
  background-image: url(../img/banner/thisisbg3.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}*/

#thisis1 {
  padding-left: 20px;
  padding-right: 20px;
}

.txt-port {
  padding-bottom: 20px;
  padding-top: 20px;
}

.txt-port h2 {
  font-weight: 900;
}

.txt-port ul li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.txt-port a {
  margin-top: 50px;
}

.overlay-bg {
  position: inherit;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  opacity: 1;
  z-index: 1;
}

.overlay-bg-red {
  position: inherit;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(234, 71, 71, .5);
  opacity: 1;
}

.overlay-bg-blue {
  position: inherit;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(36, 66, 128, .5);
  opacity: 1;
}
.img-collab {
  width: 100%;
}
.img-service {
  height: 550px;
  width: 100%;
  object-fit: cover;
}
.frame-img img:last-child {
  display: none;  
}
.frame-img:hover img:last-child {
  display: block;
}
.frame-img:hover img:first-child {
  display: none;  
}
.banner-portfolio img {
  margin: 0 auto;
}

/*responsive compatibility*/

@media screen and (max-width:1023px) {
  .navbar {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 1024px) {
  #section-title {
    padding-top: 120px;
  }
  .left-about {
    background-image: none;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: left;
  }
  .fes2-main-text-cont {
    margin: 0 auto;
    padding: 50px 0px 50px 0px;
    max-width: 500px;
  }
  #client {
    margin-top: 50px;
  }
  .div-logo {
    width: 50%;
    float: left;
  }
  .div-logo2 {
    width: 50%;
    float: left;
  }
  .text-title {
    line-height: 55px;
  }
  .testimonial-3:before {
    margin-left: 0px;
    font-size: 80px
  }
  .testimonial-3:after {
    font-size: 80px;
    margin-right: 0px;
  }
  .frame-img2 {
    height: auto!important;
  }
  .text-title {
    padding-left: 0px!important;
    padding-top: 10px;
  }
}

@media screen and (max-width: 1600px) {
  .img-title {
    width: 600px;
    height: auto;
    display: inline-block;
  }
  .img-title4 {
    width: 800px;
    height: auto;
    padding-top: 40px;
    display: inline-block;
  }
  .title-section2 {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
    max-width: 900px;
    font-size: 20px!important;
    margin: 0 auto;
  }
  .artist-name2 {
    color: #EA4747;
    font-weight: 800;
    position: absolute;
    top: 30%;
    right: -20px;
    letter-spacing: 1px;
    font-size: 24px;
  }
  .artist-title2 {
    color: #EA4747;
    font-weight: 600;
    position: absolute;
    top: 40%;
    font-size: 16px;
    right: -20px;
    letter-spacing: 1px;
  }
  .nav-tab-artist li .nav-item h2 {
    margin-left: 0px;
    font-size: 20px;
  }
  .nav-tab-artist .active .nav-item h2 {
    margin-left: 0px;
  }
  .nav-tab-artist .active .nav-item h4 {
    margin-left: 30px;
    letter-spacing: 1px;
  }
  .nav-tab-artist li .nav-item h4 {
    margin-left: 30px;
    letter-spacing: 1px;
  }
  .txt-section-white {
    font-size: 20px;
  }
  .div-txt-personalized p {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .img-wecollab2 {
    background-color: #fff;
    padding: 10px;
    width: 600px;
  }
  .col-how-title p {
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
    padding: 10px;
    background-color: #fff;
  }
  .txt-services {
    position: absolute;
    top: 50px;
    z-index: inherit;
    left: 400px;
    width: 350px;
  }
  .txt-services p {
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
  }
  .txt-services2 {
    position: absolute;
    bottom: 50px;
    left: -370px;
    width: 350px;
  }
  .line2 {
    content: '';
    position: absolute;
    top: -90px;
    right: 30px;
    height: 60%;
    width: 2px;
    transform: rotate(50deg);
    background: #222;
  }
  .line3 {
    content: '';
    position: absolute;
    bottom: 200px;
    right: 320px;
    height: 15%;
    width: 2px;
    transform: rotate(50deg);
    background: #222;
  }
  .txt-services h2 {
    font-weight: 900;
    line-height: 40px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: left;
    z-index: inherit;
  }
  .txt-services2 h2 {
    font-weight: 900;
    line-height: 40px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: left;
    z-index: inherit;
  }
  .txt-services3 h2 {
    font-weight: 900;
    line-height: 40px;
    font-size: 26px;
    text-transform: uppercase;
    text-align: left;
    z-index: inherit;
  }
  .img-title5 {
    width: 600px;
    height: auto;
    display: inline-block;
    margin-bottom: 100px;
  }
  .img-div {
    width: 700px;
  }
  #btn-frasa {
    position: absolute;
    top: 150px;
    left: 240px;
    background-color: transparent;
    z-index: 1;
    width: 230px;
    height: 100px;
  }
  .desc-frasa1 {
    position: absolute;
    top: 100px;
    right: 240px;
    z-index: 1;
    width: 230px;
    height: 100px;
    font-size: 20px;
    line-height: 24px;
  }

  #btn-studio {
    position: absolute;
    top: 150px;
    right: 240px;
    background-color: transparent;
    z-index: 1;
    width: 230px;
    height: 100px;
  }
  #btn-techno {
    position: absolute;
    bottom: 85px;
    background-color: transparent;
    z-index: 1;
    width: 250px;
    left: 445px;
    height: 120px;
  }
  .frame-img {
    height: 250px;
    overflow: hidden;
  }
  .title-division {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }
  .title-portfolio {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-transform: uppercase;
  }
  .title-section3 {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
  }
  .role-title {
    display: inline-block;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 26px;
  }
  .txt-footer4 {
    font-size: 18px;
    line-height: 34px;
    color: #fff;
    white-space: normal;
  }
  #google-map {
    height: 350px;
  }
  .font-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 900;
    color: #222;
  }
  .img-personalized {
    width: 600px;
  }
  .div-personalized {
    position: absolute;
    right: -300px;
    top: 50px;
    background-color: #fff;
    padding: 10px;
  }

  .desc-frasa2 {
    display: none;
    position: absolute;
    bottom: 48px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    z-index: 1;
    width: 360px;
    left: 400px;
    height: 150px;
  }
  .desc-studio1 {
    position: absolute;
    top: 80px;
    left: 280px;
    z-index: 1;
    width: 180px;
    height: 100px;
    font-size: 20px;
    line-height: 24px;
  }
  .desc-studio2 {
    display: none;
    position: absolute;
    bottom: 48px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    z-index: 1;
    color: #fff;
    width: 360px;
    left: 400px;
    height: 150px;
  }
  .desc-techno1 {
    position: absolute;
    top: 80px;
    left: 280px;
    font-size: 20px;
    line-height: 24px;
    z-index: 1;
    width: 180px;
    height: 100px;
  }
  .desc-techno2 {
    position: absolute;
    top: 50px;
    right: 280px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    z-index: 1;
    width: 180px;
    height: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .font-quote {
    color: #fff;
    font-size: 20px!important;
    -webkit-text-stroke: 1px black;
    letter-spacing: 3px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 24px!important;
  }
  .font-quote2 {
    color: #fff;
    font-size: 20px!important;
    -webkit-text-stroke: 1px black;
    letter-spacing: 2px;
    line-height: 26px!important;
    position: absolute;
    font-weight: 600;
    bottom: 60px;
    left: 80px;
  }
  .txt-section-white {
    font-size: 16px;
  }
  .panel-img {
    width: auto;
  }
  .nav-tab-artist li .nav-item h2 {
    margin-left: 0px;
    font-size: 16px;
  }
  .nav-tab-artist .active .nav-item h4 {
    font-size: 14px;
  }
  .nav-tab-artist li .nav-item h4 {
    font-size: 14px;
  }
  .div-txt-personalized p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .div-txt-personalized {
    padding-top: 170px;
  }
  .img-wecollab2 {
    background-color: #fff;
    padding: 10px;
    width: 500px;
  }
  .col-how-title p {
    margin-top: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 10px;
    background-color: #fff;
  }
  .txt-services {
    position: absolute;
    top: 50px;
    z-index: inherit;
    left: 320px;
    width: 320px;
  }
  .txt-services2 {
    position: absolute;
    bottom: 50px;
    left: -300px;
    width: 250px;
  }
  .txt-services p {
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    text-align: left;
}
  .txt-services2 p {
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    text-align: left;
  }
  .txt-services3 p {
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    text-align: left;
  }

  .line2 {
    content: '';
    position: absolute;
    top: -0px;
    right: 10px;
    height: 30%;
    width: 2px;
    transform: rotate(70deg);
    background: #222;
  }
  .line3 {
    content: '';
    position: absolute;
    bottom: 240px;
    right: 220px;
    height: 15%;
    width: 2px;
    transform: rotate(50deg);
    background: #222;
  }
  .desc-studio1 {
    position: absolute;
    top: 120px;
    left: 180px;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
    width: 180px;
    height: 100px;
  }
  .desc-studio2 {
    position: absolute;
    bottom: 48px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    z-index: 1;
    color: #fff;
    width: 360px;
    left: 300px;
    height: 150px;
  }
  .desc-frasa1 {
    position: absolute;
    top: 80px;
    right: 180px;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
    width: 180px;
    height: 100px;
  }
  .desc-frasa2 {
    position: absolute;
    bottom: 48px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    z-index: 1;
    color: #fff;
    width: 360px;
    left: 300px;
    height: 150px;
  }
  .desc-techno1 {
    position: absolute;
    top: 120px;
    left: 180px;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
    width: 180px;
    height: 100px;
  }
  .desc-techno2 {
    position: absolute;
    top: 50px;
    right: 180px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    z-index: 1;
    width: 180px;
    height: 100px;
  }
  #btn-close {
    font-size: 70px;
    position: absolute;
    right: 120px;
    display: none;
  }
  .img-title5 {
    width: 500px;
    height: auto;
    display: inline-block;
    margin-bottom: 100px;
  }
  .frame-img {
    height: 350px;
    overflow: hidden;
  }
  .txt-role {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .txt-team {
    font-weight: 900;
    line-height: 30px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: left;
  }
  .title-portfolio {
    font-size: 26px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-transform: uppercase;
  }
  .img-title4 {
    width: 700px;
    height: auto;
    padding-top: 40px;
    display: inline-block;
  }
  .txt-footer4 {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    white-space: normal;
  }
  .artist-name2 {
    color: #EA4747;
    font-weight: 800;
    position: absolute;
    top: 30%;
    right: -10px;
    letter-spacing: 1px;
    font-size: 20px;
  }
  .artist-title2 {
    color: #EA4747;
    font-weight: 600;
    position: absolute;
    top: 40%;
    font-size: 16px;
    right: -10px;
    letter-spacing: 1px;
  }
  .title-section2 {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: justify;
    max-width: 800px;
    font-size: 20px!important;
    margin: 0 auto;
  }
  .title-section3 {
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
  }
  .inline-btn {
    display: inline-block;
    position: absolute;
    right: 15px;
  }
}

@media (max-width: 768px) {

    .inline-btn {
      position: initial;
      margin-top: 0px;
  }
  .font-title {
    font-size: 30px!important;
    line-height: 36px!important;
  }

}

@media (max-width: 991px) {
  .navbar {
    position: fixed;
    z-index: 1;
    background-color: transparent;
    height: auto;
    width: 100%;
  }
  .menu-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    transform: rotate(90deg);
  }
  .menu-left {
    padding-left: 10%;
    padding-right: 20px;
    padding-top: 50px;
  }
  .menu-left2 {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 20px;
    padding-top: 50px;
    white-space: nowrap;
  }
  .fes2-title-40 {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
  }
  .txt-section-white {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .font-title {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #222;
  }
  h2 {
    font-size: 20px;
    line-height: 32px;
    margin: 27px 0 18px 0;
  }
  h4 {
    font-size: 16px;
    letter-spacing: normal;
    line-height: 25px;
    margin: 21px 0 19px 0;
  }
  .panel-artist {
    padding-bottom: 20px;
  }
  .artist-name2 {
    color: #EA4747;
    font-weight: 800;
    position: absolute;
    top: 30%;
    right: -23px;
    letter-spacing: 2px;
  }
  .artist-title2 {
    color: #EA4747;
    font-weight: 600;
    position: absolute;
    top: 40%;
    right: -23px;
    letter-spacing: 2px;
  }
  .div-personalized {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: #fff;
    padding: 10px;
  }
  .img-personalized {
    width: 100%;
  }
  .div-txt-personalized {
    padding-top: 50px;
  }
  .div-txt-personalized p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
  }
  .how-title2 {
    position: relative;
    left: 0;
    top: 0;
  }
  .col-how-title p {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    padding: 10px;
    background-color: #fff;
  }
  .txt-services {
    position: relative;
    width: auto;
    left: 0;
    top: 0;
  }
  .line1,
  .line2,
  .line3 {
    display: none;
  }
  .grid2 {
    margin-top: 0px;
  }
  .txt-services2 {
    position: relative;
    bottom: 0;
    left: 0;
    width: auto;
  }
  .txt-services3 {
    margin-top: auto;
  }
  #btn-techno {
    position: relative;
  }
  #btn-frasa {
    position: relative;
  }
  #btn-studio {
    position: relative;
  }
  .navbar {
    position: fixed;
    z-index: 1;
    background-color: #fff;
    height: 80px;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  .logo-img {
    width: 50px;
    height: auto;
  }
  .form-div {
    padding-top: 20px;
  }
  .contact-detail {
    font-size: 14px;
    letter-spacing: 1px;
    color: #222;
    margin-bottom: 10px;
  }
  #google-map {
    height: 200px;
    z-index: inherit;
  }
  .txt-footer4 {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    white-space: normal;
  }
  .title-portfolio {
    font-size: 24px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-transform: uppercase;
  }
  .role-title {
    font-size: 24px;
    line-height: 32px;
  }
}